<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        foofa - 구내식당, 한식뷔페, 함바집, 식당 식단표
    </title>
    <meta name="description" content="식당 식단표,구내식당, 한식뷔페에서 편하게 식단관리하세요. 매일 식단표, 주간식단표 자동으로 만들어 줍니다.">
    <meta name="keywords" content="식당 식단표,구내식당, 한식뷔페 식단관리, 무료 식단표 만들기, 무료 메뉴판 만들기, 주간식단표, 매일식단표">
    <link rel="canonical" href="https://foofa.kr/group.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="foofa - 구내식당, 한식뷔페, 함바집 , 식당 식단표">
    <meta property="og:keywords" content="식당 식단표, 구내식당, 한식뷔페, 함바집 식단관리, 주간메뉴, 일메뉴, 무료 식단표 만들기">
    <meta property="og:description" content="식당 식단표, 구내식당, 한식뷔페에서 편하게 식단관리하세요. 매일 식단표, 주간식단표 자동으로 만들어 줍니다.">
    <meta property="og:url" content="https://foofa.kr/group.html">
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="./assets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="./assets/demo/demo.css" rel="stylesheet" />
    <link href="./assets/demo/foofa.css" rel="stylesheet" />
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script>
        // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('5cb5abd5810ee213ae3a3f505f4747bd');

        // SDK 초기화 여부를 판단합니다.
        // console.log(Kakao.isInitialized());
    </script>
</head>

<body class="index-page sidebar-collapse">
<!-- menu start -->
<nav class="navbar navbar-custom navbar-expand-lg" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href=".">
                <span class="logo"></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="transform: scale(1.2)">
                    <a class="nav-link" href="general.html" data-original-title="Follow us on Twitter" rel="nofollow">
                        <i class="material-icons">restaurant_menu</i> <b>일반식당 관리 알아보기</b>
                    </a>
                </li>
                <li class="nav-item"style="transform: scale(1.2)">
                    <a class="nav-link" href="group.html">
                        <i class="material-icons">food_bank</i><b>단체식당 관리 알아보기</b>
                    </a>
                </li>
                <li class="nav-item"style="transform: scale(1.2)">
                    <a class="nav-link" href="contact.html">
                        <i class="material-icons">contact_page</i><b>연락하기</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- menu end -->
<!-- kakaotalk  start -->
<div class="kakaotalk-chat" id="create-channel-chat-button"></div>
<script type="text/javascript">
    Kakao.Channel.createChatButton({
        container: '#create-channel-chat-button',
        channelPublicId: '_xnUxcxdK',
    })
</script>
<!-- kakaotalk end -->
<!-- header start -->
<div class="row justify-content-center"  style="margin-top: -20px;background-color: #00994C;">
    <div class="section-header" >
        <h2>fooFa<i class="icon-logo-white-big"></i>&nbsp;&nbsp;단체식당 식단관리</h2>
    </div>
</div>
<!-- header end -->
<!-- 구내식당관리 - 일반설명 start-->
<div class="section">
    <div class="container">
        <div class="title">
            본 서비스를 이용하시면.
        </div>
        <ul class="list-group">
            <li class="list-group-item py-3" ng-repeat="i in filters">
                구내식당, 한식뷔페, 함바집에서 간편하게 식당식단을 관리 할 수 있습니다.
            </li>
            <li class="list-group-item py-3" ng-repeat="i in filters">
                쉽게 1주일 메뉴를 구성 할 수 있습니다.
            </li>
            <li class="list-group-item py-3" ng-repeat="i in filters">
                식단표가 다양한 템플릿이 있습니다. (템플릿은 계속 추가됩니다.)
            </li>
            <li class="list-group-item py-3" ng-repeat="i in filters">
                쉽게 출력할 수 있어서 메뉴관리가 아주 심플합니다.
            </li>
            <li class="list-group-item py-3" ng-repeat="i in filters">
                메뉴등록 - 식단등록 - 템플릿 선택 - 출력 순으로 이용 할 수 있습니다.
            </li>
            <li class="list-group-item py-3" ng-repeat="i in filters">
                <a class="service-link" href="http://foofa.paas-ta.org/"><i class="icon-logo"></i>푸파 서비스 이용하기</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <hr class="mt-5 mb-5">
    </div>
</div>
<!-- 구내식당관리 - 일반설명 end -->
<!-- 구내식당관리 - 메뉴등록 프로세스 start-->
<div class="section" style="margin-top: -150px;">
    <div class="container">
        <div class="title">
            1. 간편하게 식단을 등록할 수 있습니다.
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="assets/img/foofa_group_01_01.jpg" alt="단체식당 메뉴등록" class="rounded img-thumbnail" style="margin: 10px;">
            </div>
            <div class="col-md-6">
                <ul class="list-group detail">
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i>일별로 식별 &nbsp;<b>식단을 빠르고 쉽게 등록</b>합니다.
                    </li>
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i>메뉴는 밥, 국, 주반찬, 부반찬, 디저트로 구분합니다.
                    </li>
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i>아침, 점심, 저녁 별로 식단에 구분 별로 &nbsp;<b>메뉴를 클릭하여 등록</b>합니다.
                    </li>
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i>기존에 없는 메뉴는 새로 추가하여 사용합니다.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 구내식당관리 - 메뉴등록 프로세스 end-->
<div class="container">
    <hr class="mt-5 mb-5">
</div>
<!-- 구내식당관리 - 템플릿 선택 프로세스 start-->
<div class="section" style="margin-top: -80px;">
    <div class="container">
        <div class="title">
            2. 원하는 형식의 템플릿 을 선택하세요.
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="assets/img/foofa_group_02_01.jpg" alt="단체식당 템플릿 선택" class="rounded img-thumbnail" style="margin: 10px;">
            </div>
            <div class="col-md-6">
                <ul class="list-group detail" >
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i>1주일 식단, 1일 식단을 선택합니다.
                    </li>
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i>출력을 원하는 식단 형태를 선택합니다.
                    </li>
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i>원하시는 디자인이나 템플릿이 있다면 문의 하시기 바랍니다.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 구내식당관리 - 템플릿 선택 프로세스 end-->
<div class="container">
    <hr class="mt-5 mb-5">
</div>
<!-- 구내식당관리 - 미리보기 pdf 추출 start-->
<div class="section" style="margin-top: -80px;">
    <div class="container">
        <div class="title">
            4. 미리보고 pdf 형태로 추출합니다.
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="assets/img/foofa_group_03_01.jpg" alt="식당관리 템플릿 선택" class="rounded img-thumbnail" style="margin: 10px;">
            </div>
            <div class="col-md-6">
                <ul class="list-group detail" >
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i><b>프린트 할 떄와 동일한 디자인</b>으로 보여집니다.
                    </li>
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i>일자를 전주/차주, 전일/내일 로 바꿔서 확인할 수 있습니다.
                    </li>
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i>완료하면 &nbsp;<b>pdf 파일의 메뉴판</b>을 다운로드 합니다.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 구내식당관리 - 미리보기 pdf 추출 end-->
<div class="container">
    <hr class="mt-5 mb-5">
</div>
<!-- 구내식당관리 - 출력물 start-->
<div class="section" style="margin-top: -80px;">
    <div class="container">
        <div class="title">
            5. pdf 파일로 메뉴를 출력합니다.
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="assets/img/foofa_group_04_01.jpg" alt="식당관리 템플릿 선택" class="rounded img-thumbnail" style="margin: 10px;">
            </div>
            <div class="col-md-6">
                <ul class="list-group detail" >
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i>바로 출력하여 사용하시면 됩니다.
                    </li>
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i>변경 시마다 새로 출력하셔서 꺠끗하게 사용하세요.
                    </li>
                    <li class="list-group-item py-2">
                        <i class="material-icons" style="margin-right: 5px">arrow_right</i>여러가지 활용분야가 많습니다.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 단체식당관리 - 출력물 end-->
<footer class="footer" data-background-color="black" style="background-color: white;height:70px;">
    <div class="container">
        <div class="copyright float-right align-self-start">
            &copy;2020<b>강가루웍스 All rights reserved</b>
        </div>
    </div>
</footer>
<a href="#" class="back-to-top"><i class="material-icons">vertical_align_top</i></i></a>
<!--   Core JS Files   -->
<script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Google Maps Plugin    -->
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="./assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        // Sliders Init
        materialKit.initSliders();
    });


    function scrollToDownload() {
        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>
</body>
</html>