@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css');
/*
 NanumSquareRound
 NanumSquare
 Nanum Brush Script
*/

/* change the background color */
.navbar-custom {
    background-color: #3e8acc !important;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav  {
    color: rgba(255,255,255,.8);
}

.nav-link {
    color : white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color : white;
}

.carousel .carousel-item:first-of-type {
    background-image: url("../img/foofa_slide_01.png");
}

.carousel .carousel-item:nth-of-type(2) {
    background-image: url("../img/foofa_slide_02.png");
}

.carousel .carousel-item:nth-of-type(3) {
    background-image: url("../img/foofa_slide_03.png");
}

.carousel .carousel-item:last-of-type {
    background-image: url("../img/foofa_slide_04.png");
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

.carousel-caption h2 {
    font-family: "NanumSquare";
}

.carousel-caption h3 {
    font-family: "NanumSquareRound";
}


.carousel .carousel-item {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    position: relative;
    width: 60%;
    min-height: 1%;
    left : 20%;
    top: 30%;
    background-color: #380B61;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
}

#main-phrase {
    background-color: #0B2161;
    display: block;
    width: 100%;
    position: relative;
    color: white;
}


#main-phrase h2{
    font-family: "NanumSquare";
    font-weight: bold;
    font-size: 35px;
}

#main-phrase h3{
    font-family: "NanumSquareRound";
    font-weight: bold;
    font-size: 25px;
}

#main-phrase h4{
    font-family: "NanumSquareRound";
    font-weight: bold;
    font-size: 20px;
    color: white;
}

div[id^="slide"]{
    background-color: #fdfdfe;
}

div[id^="slide"] .title h3{
    font-family: "NanumSquare";
    font-weight: bold;
    /**
    width: 100%;
    line-height: 0.1em;
    margin: 1px 0 20px;
    */
}

div[id^="slide"] .title h3 span {
    background:#fff;
    padding:0 10px;
}

div[id^="slide"] .row h4 {
    font-family: "NanumSquareRound";
    font-size: 20px;
}

#slide01 .title1 h3{
    border-bottom: 3px solid #0B6121;
}

#slide02 .title1 h3{
    border-bottom: 3px solid #0000FF;
}

#slide03 .title1 h3{
    border-bottom: 3px solid #DF0101;
}

#slide04 .title1 h3{
    border-bottom: 3px solid #FFFF00;
}


@media screen and (min-width: 1201px)
{

    .carousel .carousel-item {
        width: 100%;
        height: 90vh;
        background-size: cover;
        background-position: center;
    }

    .carousel-caption {
        position: relative;
        width: 60%;
        height: 18%;
        left : 20%;
        top: 30%;
        background-color: #380B61;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 10px;
    }

    .carousel-caption h2 {
        text-align: left;
        font-size : 40px !important;
        margin-top: 0%;
    }

    .carousel-caption h3 {
        text-align: right;
        font-size : 28px !important;
        margin-top: -1%;
    }

    .carousel-caption h4 {
        text-align: center;
        font-size : 20px !important;
        margin-top: -1%;
    }

    #carouselExampleIndicators{
        height: 42em;
    }
}

@media screen and (max-width:1200px) and (min-width:993px)
{
    .carousel .carousel-item {
        width: 100%;
        height: 80vh;
        background-size: cover;
        background-position: center;
    }

    .carousel-caption {
        position: relative;
        width: 60%;
        height: 15%;
        left : 20%;
        top: 30%;
        background-color: #380B61;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 10px;
    }

    .carousel-caption h2 {
        text-align: left;
        font-size : 30px !important;
        margin-top: 0%;
    }

    .carousel-caption h3 {
        text-align: right;
        font-size : 20px !important;
        margin-top: 0%;
    }

    #carouselExampleIndicators{
        height: 35em;
    }

    #main-phrase h2{
        font-family: "NanumSquare";
        font-weight: bold;
        font-size: 35px;
    }

    #main-phrase h3{
        font-family: "NanumSquareRound";
        font-weight: bold;
        font-size: 25px;
    }
}

@media screen and (max-width:992px) and (min-width:769px)
{
    .carousel .carousel-item {
        width: 100%;
        height: 65vh;
        background-size: cover;
        background-position: center;
    }

    .carousel-caption {
        position: relative;
        width: 60%;
        height: 15%;
        left : 20%;
        top: 30%;
        background-color: #380B61;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 10px;
    }

    .carousel-caption h2 {
        text-align: left;
        font-size : 25px !important;
        margin-top: -2%;
    }

    .carousel-caption h3 {
        text-align: right;
        font-size : 18px !important;
        margin-top: 0%;
    }

    #carouselExampleIndicators{
        height: 25em;
    }

    #main-phrase h2{
        font-family: "NanumSquare";
        font-weight: bold;
        font-size: 25px;
    }

    #main-phrase h3{
        font-family: "NanumSquareRound";
        font-weight: bold;
        font-size: 20px;
    }
}

@media screen and (max-width:768px) and (min-width:576px)
{
    .carousel .carousel-item {
        width: 100%;
        height: 55vh;
        background-size: cover;
        background-position: center;
    }

    .carousel-caption {
        position: relative;
        width: 60%;
        height: 15%;
        left : 20%;
        top: 30%;
        background-color: #380B61;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 10px;
    }

    .carousel-caption h2 {
        text-align: left;
        font-size : 20px !important;
        margin-top: -4%;
    }

    .carousel-caption h3 {
        text-align: right;
        font-size : 15px !important;
        margin-top: 0%;
    }

    #carouselExampleIndicators{
        height: 20em;
    }

    #main-phrase h2{
        font-family: "NanumSquare";
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    #main-phrase h3{
        font-family: "NanumSquareRound";
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 575px)
{
    .carousel .carousel-item {
        width: 100%;
        height: 45vh;
        background-size: cover;
        background-position: center;
    }

    .carousel-caption {
        position: relative;
        width: 80%;
        height: 15%;
        left : 11%;
        top: 30%;
        background-color: #380B61;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 10px;
    }

    .carousel-caption h2 {
        text-align: left;
        font-size : 17px !important;
        margin-top: -4%;
    }

    .carousel-caption h3 {
        text-align: right;
        font-size : 14px !important;
        margin-top: -1%;
    }

    #carouselExampleIndicators{
        height: 18em;
    }

    #main-phrase h2{
        font-family: "NanumSquare";
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    #main-phrase h3{
        font-family: "NanumSquareRound";
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }

    div[id^="slide"] .row h4 {
        font-family: "NanumSquareRound";
        font-size: 15px;
    }
}

.logo{
    background : url("../img/foofa_fulllogo_white.png");
    background-size: cover;
    display: inline-block;
    vertical-align: bottom;
    height: 32px;
    width: 100px;
}

.icon-group{
    background : url("../img/group-restaurant.ico");
    background-size: cover;
    display: inline-block;
    vertical-align: bottom;
    margin: 2px;
    height: 20px;
    width: 20px;
}
